---
layout: default
title: Publications
---

<h1>Publications</h1>
<ul>
  {% assign sorted_publications = site.publications | sort: 'path' | reverse %}
  {% for publication in sorted_publications %}
    <li style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
      <h2>{{ publication.title }}</h2>
      <p><strong>Authors:</strong> {{ publication.authors | join: ", " }}</p>
      <p><strong>Journal:</strong> {{ publication.journal }}</p>
      <p><strong>Year:</strong> {{ publication.year }}</p>
      <p><strong>Volume:</strong> {{ publication.volume }}</p>
      <p><strong>Pages:</strong> {{ publication.pages }}</p>
      {% if publication.exturl %}
      <p><a href="{{ publication.exturl }}" target="_blank">Read the full publication</a></p>
      {% endif %}
    </li>
  {% endfor %}
</ul>
